* {
	background-color: transparent !important;
	color: inherit !important;
}

html, body, header {
	background: #000000 !important;
	color: #777777 !important;
}
input, textarea {
	background: #000000 !important;
	color: #777777 !important;
	cursor: #777777 !important;
	border-color: #068589 !important;
}
a, a:visited { color: #078a0c !important; }
h1 { color: #b75e03 !important; }
h2 { color: #098948 !important; }
h3 { color: #548404 !important; }
h4 { color: #7e5cff !important; }
h5 { color: #e3057b !important; }
h6 { color: #0580b8 !important; }

th { color: #7a7b00 !important; }

svg {
	fill: #777777 !important;
}

::-webkit-scrollbar {
	background-color: #1b1b1b !important;
}
::-webkit-scrollbar-corner {
	background-color: #1b1b1b !important;
}
::-webkit-scrollbar-thumb {
	background-color: #71023e !important;
}

/* selections / highlights */
.find-replace-highlight, .find-replace-select {
	color: #068589 !important;
}

/* syntax highlighting */

/* comments */
.highlight .pl-c, pre .Comment {
	color: #3b3b3b !important;
}

/* keywords */
.highlight .pl-k, pre .Keyword {
	color: #b75e03 !important;
}

/* modules... */
pre .Module {
	color: #098948 !important;
}

/* modules... */
pre .Number {
	color: #548404 !important;
}

/* type */
pre .PrimitiveType, pre .Type {
	color: #7e5cff !important;
}

/* Postulate ??? */
pre .Postulate {
	color: #e3057b !important;
}

/* Symbol ??? */
pre .Symbol {
	color: #0580b8 !important;
}

/* Variables */
pre .Bound {
	color: #eb0107 !important;
}

/* amazon price link */
span.a-color-base { color: #078a0c !important; }

/* wikipedia / wikibooks math */
img.mwe-math-fallback-image-inline {
	background-color: #777777 !important;
}

/* floats and dialogs */
/* tumblr */
div.v-center-content {
	background-color: #000000 !important;
}
/* stackedit */
div.modal-dialog {
	background-color: #000000 !important;
}
/* google */
div[role="dialog"],div[role="menu"] {
	background-color: #000000 !important;
}
/* freelancer */
div.ChatBox {
	background-color: #000000 !important;
}

::selection {
	background: #3b3b3b !important;
	color: #ffffff !important;
}
.ace_selection {
	background: #3b3b3b !important;
	color: #ffffff !important;
}
