html, body, header {
	background: #000000 !important;
	color: #777777 !important;
}
input, textarea {
	background: #000000 !important;
	color: #777777 !important;
	cursor: #777777 !important;
	border-color: #777777 !important;
}
